a{
  text-decoration: none;
}

*{
  list-style: none;
}

.wrapper {
  display: flex;
}

/*********************************************
サイドバー
**********************************************/
.side-bar {
  width: 300px;
  height: 100vh;
  padding: 0, 20px;
}

.side-bar-top {
  background-color: #253141;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.side-bar-bottom {
  background-color: #2f3e51;
  padding: 0 20px;
  height: calc(100vh - 100px);
  overflow: scroll;
}

.create-room a{
  display: block;
  border: 1px solid lightblue;
  padding: 14px;
  font-size: 10px;
  color: deepskyblue;
}

.user-name a{
  font-size: 16px;
  color: #fff;
  display: block;
}

.room {
  padding: 20px 0 40px;
}

.room-name a{
  color: #fff;
}

/**********************************************
メイン
***********************************************/
.room-container {
  width: calc(100vw - 300px);
}

.room-bar {
  background-color: #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.room-main {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 0 40px;
}

.room-form {
  background-color: #ddd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.current-room {
  margin-top: 36px;
  color: #333;
  font-size: 24px;
}

.quit-room {
  padding-top: 40px;
}

.quit-room a{
  border: 1px solid darkred;
  padding: 20px;
}

.post-date {
  display: inline;
  color: #999;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
}

.post-name {
  font-size: 16px;
  color: #434a54;
  margin-bottom: 10px;
  margin-top: 10px;
}

.post-content {
  font-size: 14px;
  color: #434a54;
}

.posts {
  overflow: scroll;
}

.post {
  margin-bottom: 40px;
  margin-top: 46px;
}

.post-form input{
  padding: 0 10px;
  width: 100%;
  height: 50px;
  border-style: none;
}

.post-form {
  width: 100%;
  display: flex;
  background-color: #fff;
}

.send-btn input{
 height: 50px;
 line-height: 50px;
 padding: 0 20px;
 background-color: #38aef0;
 color: #fff;
 font-size: 16px; 
 margin-left: 15px;
 border: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}
